<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="How I challenged myself to see the same object differently every day in quarantine">
  <link rel="shortcut icon" type="image/jpg" href="./favicon.ico"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style.css" />
  <title>Skytower Views during Quarantine</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      new Vue({
        el: '#app',
        data: {
          days: [
            {
              id: "zero",
              food: "./images/food-1.jpg",
              image:"./images/zero.jpg",
              show: true
            },
            {
              id: "one",
              food: "./images/food-3.jpg",
              image:"./images/one.jpg",
              show: true
            },
            {
              id: "two",
              food: "./images/food-4.jpg",
              image:"./images/two.jpg",
              show: true
            },
            {
              id: "three",
              food: "./images/food-5.jpg",
              image:"./images/three.jpg",
              show: true
            },
            {
              id: "four",
              food: "./images/food-6.jpg",
              image:"./images/four.jpg",
              show: true
            },
            {
              id: "five",
              food: "./images/food-7.jpg",
              image:"./images/five.jpg",
              show: true
            },
            {
              id: "six",
              food: "./images/food-8.jpg",
              image:"./images/six.jpg",
              show: true
            },
            {
              id: "seven",
              food: "./images/food-10.jpg",
              image:"./images/seven.jpg",
              show: true
            },
            {
              id: "eight",
              food: "./images/food-11.jpg",
              image:"./images/eight.jpg",
              show: true
            },
            {
              id: "nine",
              food: "./images/food-12.jpg",
              image:"./images/nine.jpg",
              show: true
            },
            {
              id: "ten",
              food: "",
              image:"",
              show: false
            },
            {
              id: "eleven",
              food: "",
              image:"",
              show: false
            },
            {
              id: "twelf",
              food: "",
              image:"",
              show: false
            },
            {
              id: "thirteen",
              food: "",
              image:"",
              show: false
            }
          ]
        }
      })
    })
  </script>
</head>
<body>
  <div id="app">
    <h1>My Quarantine View</h1>
    <p class="intro">This is what happens when you leave a wanna be photographer in a room with nothing to look at but the Skytower :)</p>
    <div class="container">
      <div v-for="day in days" :key="day.id" :class="day.id + ' flip-card'">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img v-if="day.show" :src="day.image" alt="Skytower" class="flip-card-image" />
            <h2 v-else>Day {{ day.id }}</h2>
          </div>
          <div class="flip-card-back" :style="[day.show ? {'backgroundColor': '#486DB1'} : {'backgroundColor': '#bbb'}]">
            <h2>Day {{ day.id }}</h2>
            <img v-if="day.show" :src="day.food" alt="food of the day" class="flip-card-food" loading=lazy />
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>